<!-- <ng-content select="header"></ng-content> -->
<h5>{{ user.firstName }} {{ user.lastName }}</h5>

<p [ngStyle]="dynamicStyle" *ngIf="user.isWorking; else myTemplate">Income : <span [innerText]="user.income"></span> </p>

<!-- <p [ngClass]="'my-border'" >Date of Birth : <span [innerHTML]="user.dob"></span> </p> -->
<!-- <p [ngClass]="['my-border', 'my-feature']" >Date of Birth : <span [innerHTML]="user.dob"></span> </p> -->
<p [ngClass]="dynamicClass" >Date of Birth : <span [innerHTML]="user.dob"></span>
  <!-- <button class="btn btn-dark btn-sm" (click)="toggleClass()">Toggle</button> -->
</p>


<p>Total Votes : {{ user.votes }}
  <input type="number" [value]="user.votes"
    (change)="changeUserVotes($event)">
  <input type="number" [(ngModel)]="user.votes">
</p>

<ng-template #myTemplate>
  <p>Mr. {{user.lastName }} is not working now.</p>
</ng-template>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link my-cursor" [ngClass]="{active : tab === 1}"  (click)="tab = 1">Comments</a>
  </li>
    <li class="nav-item">
      <a class="nav-link my-cursor" [ngClass]="{active : tab === 2}"  (click)="tab = 2">Add New Comment</a>
    </li>
</ul>

<div [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ul class="list-group" *ngIf="user.comments.length > 0; else noComment">
      <li *ngFor="let comment of user.comments" class="list-group-item">
        <app-comment-item [comment]="comment"></app-comment-item>
      </li>
    </ul>
    <ng-template #noComment>
      <p>Be the first to Comment.</p>
    </ng-template>
  </div>
  <div *ngSwitchCase="2">
    <app-add-comment (addCommentEvent)="onAddNewComment($event)"></app-add-comment>
  </div>
  <div *ngSwitchDefault>Select any above mentioned tab</div>
</div>





<!-- <ng-content></ng-content>

<ng-content select=".main-content"></ng-content> -->
<!-- <ng-content select=".main-content"></ng-content> -->

<!-- <ng-content select="footer"></ng-content> -->
