.my-border{
  border : 2px grey solid;
}

.my-feature{
  font-size: 1.2em;
  font-weight: bold;
}

.my-cursor{
  transition: all 0.3s ease-in-out;
  /* cursor: pointer;
  background-color: lightgrey; */
}
.my-cursor:hover{
  cursor: pointer;
  background-color: lightgrey;
}
