<p class="disaply-4 text-center">My Post App</p>

<div class="row">
  <div class="col-4 offset-4">
    <button class="btn btn-block btn-dark"
      (click)="showNewPost = !showNewPost">Add New Post</button>
  </div>
</div>

<div class="row">
  <div class="col-6" *ngFor="let post of posts">
    <div class="card my-list">
      <div class="card-header">
        <h5 class="text-center">{{post.title | uppercase}}</h5>
      </div>
    </div>
  </div>
</div>

<app-new-post *ngIf="showNewPost" (postEvent) = "onAddNewPost($event)"></app-new-post>
