<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">Register Form</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
          <!-- Username field -->
          <div class="form-group">
            <label for="username">Username :</label>
            <input type="text"
              name="username"
              class="form-control"
              formControlName="username">
            <div class="alert alert-danger" [hidden]="username.valid || username.untouched">
                <p>* Some problem with username field</p>
                <p [hidden]="!username.hasError('required')">
                  - Username is mandatory filed
                </p>
                <p [hidden]="!username.hasError('email')">
                  - Username should be in proper email format
                </p>
            </div>

          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="password">Password :</label>
            <input type="password"
              name="password"
              class="form-control"
              formControlName="password">
          </div>
          <br>
          <button class="btn btn-info btn-sm" (click)="addBook()">Add Favorate Books</button>
          <div formArrayName="books">
            <div *ngFor="let book of books.controls; index as i">
              <input type="text" [formControlName]="i" class="form-control">
            </div>
          </div>
          <br>
          <!-- Buttons -->
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary btn-block"
                  [disabled]="!registrationForm.valid"
                  type="submit">Register</button>
              </div>
              <div class="col-6">
                <button class="btn btn-warning btn-block" type="button">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<hr>

<!-- Control in Form Array -->
<button class="btn btn-dark" (click)="addCourse()">Add New Course</button>

{{courses.value | json}}

<div *ngFor="let control of courses.controls; index as i">
  <input type="text" [formControl]="courses.controls[i]">
  <button class="btn btn-sm btn-danger" (click)="removeCourse(i)">Delete</button>
</div>



<hr>
<!-- Form Group in Form Array -->
{{ hobbies.value | json }}
<button class="btn btn-secondary" (click)="addHobby()">Add Hobby</button>
<div *ngFor="let hobby of hobbies.controls">
  <div [formGroup]="hobby">
    <input type="text" formControlName="hobbyName"/>
    <input type="text" formControlName="frequency" />
  </div>
</div>

