.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50%;
}
.my-card{
  position: fixed;
  width: 60vw;
  height: 40vh;
  margin-left: 20vw;
  margin-top: 30vh;
  z-index: 80%;
}
