<div class="container">
  <h2 class="text-center">My Awesome App</h2>

  <!-- <app-notes></app-notes> -->
  <!-- <input type="text" [(ngModel)]="title">
  <h4>Title Value : {{ title }}</h4>
  <br>

  <button class="btn btn-dark" (click)="showComp = !showComp">Toggle Comp</button>


  <app-life-cycle-demo *ngIf="showComp" [title]="title"></app-life-cycle-demo>
-->

  <!-- <app-directive-demo></app-directive-demo> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-login></app-login> -->
  <!-- <app-register></app-register> -->

  <!-- <app-counter></app-counter> -->

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-obs-operators-demo></app-obs-operators-demo> -->

  <!-- <app-subjects-demo></app-subjects-demo> -->

  <app-posts></app-posts>

  <!-- <app-users></app-users> -->
</div>
